.navigation {
  width: 100%;
  padding: 0.5rem 0;
  background-color: chartreuse;
}
.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
