.sample {
  padding: 3rem;
}

.heading {
  color: blue;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.bodyText {
  text-align: center;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 2rem;
  background-color: blue;
}
